// fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Condensed:700');

$primaryColor: #3D9970;
$secondaryColor: #85144b;
$textColor: #333;
$textLight: #666;
$textLighter: #999;

*{
    font-family: 'Open Sans', sans-serif;
}




